<div class="row">
	<div class="col">
		<div class="ibox">
			<div class="ibox-content">
				<a ui-sref="app.article" href="/article/id=<%= id %>"
							 class="btn-link">
							 <h2>
								 <%= title %>
							 </h2>
				</a>
				<p class="lead">
				<%=body %>
				</p>
				<div class="small m-b-xs">
					<strong>Adam Novak</strong> 
					<span class="text-muted">
						<i class="fa fa-clock-o"></i> 28th Oct 2015</span>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="small text-right">
							<h5>Stats:</h5>
							<div> <i class="fa fa-comments"> </i>
								56 comments 
							</div>
							<i class="fa fa-eye"> </i>
							144 views
						</div>
					</div>
					<div class="col-md-4">
						<div class="small text-right">
							<h5>Actions:</h5>
							<div> <i class="fa fa-pencil"> </i>
								<a class="btn-link" 
									href="/article/id=<%= id %>/edit">edit</a>
							</div>
							<i class="fa fa-flag"> </i>
							report
						</div>
					</div>
					<div class="col-md-4">
						<h5>Tags:</h5>
						<button class="btn btn-primary btn-xs" type="button">
							Model</button>
						<button class="btn btn-white btn-xs" type="button">
							Publishing</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
