<header>
	<ul class="home">
		<li><a href="/article">Home </a></li>
		<li>News</li>
	</ul>
	<ul class="user-state">
		<li><a href="/login">Login</a></li>
		<li><a href= "/signup">Signup</a></li>
		<%if (user) { %>
		<li><a class="logout-button">Logout</a></li> 
		<% } %>
	</ul>
</header>
<% if (user) { %>
<script>
	const logoutButton = document.querySelector('a.logout-button');

	logoutButton.addEventListener('click', 
		(e) => 
		{
			fetch("/logout", {method:"POST", redirect: "follow"})
				.then(
					res => 
					{
						if (res.redirected) 
						{
							window.location.href = res.url;
						}
					});
		});
</script>
<style>
.logout-button
{
	cursor: pointer;
}
</style>
<% } %>
