<head>
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/login.css">
</head>
</body>
<div class="container">
	<form method="POST" action="/login" autocomplete="off">
		<div>
			<% if (error) {%>
			<p>username or password are incorrect</p>
			<%}%>
		</div>
		<label for"username">username</label>
		<input type="text" name="username" required>
		<label for="password">password</label>
		<input type="password" name="password" required>
		<button type="submit">login</button>
	</form>
</div>
<body>
