/**
{
	margin:0;
}*/

.article_container
{
	margin: 0.5em;
	border: 2px solid black;
	padding: 0.5em;
}
.title
{
	margin: 0.5em;
	border: 1px solid black;
	padding: 0.5em;
}
.body
{
	margin: 0.5em;
	padding: 0.5em;
}
.article-meta
{
	border-top: 1px solid;
}
header
{
	display:flex;
	flex-direction:row;
}
.home
{
	flex:1;
}
.user-state
{
	border-left:1px solid white;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li {
	float: left;
}

li {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
a
{
	text-decoration:none;
	color:white;
}
.notifications-flash-top-bar
{
	transition: top 2s;
	position: absolute;
    z-index: 210;
    left: 0;
    right: 0;
	top:0;
}
.notifications-flash-top-bar .alert.alert-danger 
{
	height:46px;
    background-color: #BF7877;
}
nav > div
{
	height:55px;
}
nav, .navbar-nav
{
	background: #f0f8ff00;
	height:55px
}
nav, a
{
	padding:8;
}
#css-search
{
	margin:0;
}
#css-navbar > a
{
	padding-top: 9px;
}
.notif
{
	position:absolute;
	left:0;
	right:0;
	z-index:22;
	transition:top 2s;
}
