<head>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/css/form.css">
</head>
</body>
<%- include('../components/header.ejs', {user:undefined, error, success}) %>
<div class="container">
	<form method="POST" action="/auth/login" autocomplete="off">
		<label for"username">username</label>
		<input type="text" name="username" required>
		<label for="password">password</label>
		<input type="password" name="password" required>
		<button type="submit">login</button>
	</form>
</div>
<body>
