<head>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/form.css">
	<link rel="stylesheet" href="/css/index.css">
</head>
</body>
<%- include('../components/header.ejs', {user:undefined, error, success:[]}) %>
<div class="container">
	<form class="deform" method="POST" action="/auth/signup" autocomplete="off">
		<label for"firstName">firstName</label>
		<input class= "input"type="text" name="firstName" required>
		<label for="lastName">lastName</label>
		<input class="input" type="text" name="lastName" required>
		<label for="username">username</label>
		<input class="input" type="text" name="username" required>
		<label for="password">password</label>
		<input class="input" type="password" name="password" required>
		<button type="submit">submit</button>
	</form>
</div>
<body>
