<head>
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/form.css">
</head>
</body>
<%- include('../components/header.ejs', {user:undefined}) %>
<div class="container">
	<form method="POST" action="/signup" autocomplete="off">
		<div>
			<% if (error) {%>
			<p>username or password are incorrect</p>
			<%}%>
		</div>
		<label for"firstName">firstName</label>
		<input type="text" name="firstName" required>
		<label for="lastName">lastName</label>
		<input type="text" name="lastName" required>
		<label for="username">username</label>
		<input type="text" name="username" required>
		<label for="password">password</label>
		<input type="password" name="password" required>
		<button type="submit">submit</button>
	</form>
</div>
<body>
